html ::selection {
  background: #ff5e6b;
  color: #fff;
}

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(96, 45, 68);
  background: linear-gradient(180deg, #602d44 0%, #2f4454 35%, #254352 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Times New Roman", Times, serif;
  gap: 0%;
}

#main {
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: aliceblue;
  box-shadow: 0 0 22.5px #2e151b;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 10px 40px;
}
