html ::selection {
  background: #ff5e6b;
  color: #fff;
}

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;

  background: rgb(96, 45, 68);
  background: linear-gradient(180deg, #602d44 0%, #2f4454 35%, #254352 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Times New Roman", Times, serif;
  gap: 0%;
}

#welcome-title {
  background-color: #dc617f;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 15px #2e151b;
  text-shadow: 0 0 2% #da7b93;
  padding: 7px;
  width: calc(100% - 53px - 15px);
}

#change-theme-btn {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 55px;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 15px #2e151b;
  cursor: pointer;
}
#change-theme-btn img {
  width: 40px;
  height: 40px;
}

#title-text-main-page {
  color: white;
  text-decoration: none;
}
#title-text-main-page:hover {
  text-decoration: underline;
}

#welcome-image-div {
  width: 914px;
  height: 325px;
  padding: 28px 28px 28px;
  padding-left: 18px;

  border-radius: 15px;
  background-color: aliceblue;
  box-shadow: 0 0 22.5px #2e151b;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;
}

#welcome-h1 {
  font-size: calc(1em + 25px);
}
#welcome-p {
  font-size: calc(1em + 5px);
}

#welcome-banner {
  display: flex;
  align-items: center;
  gap: 20px;
}

#welcome-banner img {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.page-link {
  font-size: 31px;
  border-radius: 11px;
  padding: 2.2px 5.6px;
  font-weight: bold;
  color: #ff3f4f;
  background-color: #ffcdd1;
}

.page-link:hover {
  color: #ffcdd1;
  background-color: #ff3f4f;
}

#socials-div {
  width: clamp(350px, 700px, 1400px);
  height: clamp(65px, 130px, 260px);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.32em;
  margin: 20px auto;
}

h1 {
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
}

p {
  font-size: 23px;
  margin: 10px 0;
}

.socials-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.social-icon {
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
  transition: all 0.35s ease-in-out;
  padding: 25px;
  box-sizing: border-box;
}
.social-icon:hover {
  width: 150px;
  height: 150px;
  filter: drop-shadow(0 0 13px rgba(0, 0, 0, 1));
  transition: all 0.18s ease-in-out;
}

#about-me-div {
  width: 1000px;
  height: auto;
  padding: 28px 28px 28px;
  margin: 5px auto;

  border-radius: 15px;
  background-color: aliceblue;
  box-shadow: 0 0 22.5px #2e151b;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#about-me-div p {
  text-align: center;
}
#birthdayCountdown {
  font-weight: bold;
  word-spacing: 0.1em;
}

#other-pages {
  width: 600px;
  height: auto;
  padding: 28px 28px 28px;
  margin: 5px auto;

  border-radius: 15px;
  background-color: aliceblue;
  box-shadow: 0 0 22.5px #2e151b;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background: rgb(37, 67, 82);
  background: linear-gradient(180deg, rgba(37, 67, 82, 1) 0%, rgba(47, 68, 84, 1) 10%, rgba(88, 98, 106, 1) 100%);
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-size: 7px;
  margin-top: 25px;
  user-select: none;
}
footer p {
  font-size: 18px;
  margin: 2px 0;
}

@media (max-width: 480px) or (orientation: portrait) {
  body {
    padding: 10px;
  }
  p {
    font-size: 19px;
  }
  #welcome-image-div {
    width: 95%;
    height: auto;
    flex-direction: column;
  }
  #welcome-image-div img {
    float: none;
    width: 90% !important;
    height: auto !important;
  }
  #socials-div {
    width: 78%;
    height: auto;

    padding: 10px;
    flex-wrap: wrap;
  }
  .social-icon {
    width: 100px;
    height: 100px;

    margin: 10px;
    padding: 15px;
  }
  .social-icon:hover {
    width: 100px;
    height: 100px;
  }
  #about-me-div {
    width: 95%;
    height: auto;
    flex-direction: column;
    padding: 20px 20px 20px;
  }
  #other-pages {
    width: 95%;
    height: auto;
    flex-direction: column;
  }
  #other-pages h {
    font-size: auto;
  }
}

span.glasp-extension {
  display: none !important;
}

/*Debug outlines
* {
  outline: 3.5px solid red !important;
}
img {
  outline: 3.5px solid lightgreen !important;
}
p,
h1 {
  outline: 3.5px solid yellow !important;
}
a {
  outline: 3.5px solid blue !important;
}
*/
